Databases/
Databases1/
host/

## Nextflow run artefacts
.nextflow/
.nextflow.log*
work/
trace*
timeline*
report*
dag*

## Common OS / editor noise
.DS_Store
Thumbs.db

## Python packaging artefacts
*.egg-info/
